
header{
    display: flex;
    justify-content: space-between;
    background-color: #1d3557;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

H1{
    color: white;
    font-family: "Poppins";
    display: inline-flex;
    text-shadow: 5px 5px 0 #000 ;
}

nav{
    display: flex;
    text-align: right;
}

a{
    display: inline-flex;
    color: white;
    font-size: 18px;
    font-weight: 500px;
    font-family : "Poppins";
    margin-right: 30px;
    text-decoration: none;
    align-items: center;        
}

a::before{
        content: "";
        background-color: #F2C94C;
        width: 8px;
        height: 8px;
        margin-right: 4px;
}

.downloadCvHeader{
    display: inline-flex;
    background-color: #d62828;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000 ;
    margin-bottom: 10px;
    margin-right: 0px;
}

.downloadCvHeader:hover{
    background-color: #f72585;
}

h2{
    width: 627px;
    height: 184px;
    margin: 116px 94px 0 94px;
    background-color: #b7b7a4;
    box-shadow: 5px 5px 0 #000;
    font-family: 'poppins';
    text-align: center;
    font-size: 40px;
    padding-top: 0;
    text-shadow: #000;
    padding: 42px 97px 0 90px;

}
   
div{
    height: 797px;
    background: url(https://wallpaperaccess.com/full/1140262.jpg);
}

.downloadCvBody{
    width: 170px;
    height: 60px;
    line-height: 60px;
    background-color: #d62828;
    display:inline-flex;
    margin: 38px 112px 0 181px;
    padding-left: 20px;
    align-items: center;
    box-shadow: 5px 5px 0 #000 ;
}

.contato{
    width: 170px;
    height: 60px;
    line-height: 60px;
    background-color: #d62828;
    margin: 38px 0 0 112px;
    display: inline-flex;
    padding-left: 20px;
    align-items: center;
    box-shadow: 5px 5px 0 #000 ;
}