.banner{
    background: url(../../assets/img/background.jfif);
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    display: flex;
}