.button{
    background-color: #d62828;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000 ;
    margin-bottom: 10px;
    margin-right: 0px;
    text-decoration: none;
    font-family: inherit;
    color: #FFF;
}

.button:hover{
    background-color: #f72585;
}   