.box .title{
    font-family: 'poppins';
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 28px;
    color: #fff;
    text-shadow: 3px 3px 0 #000;
    margin: 0;
}

.title.-second{
    color:#fff;
    text-shadow: none;
    padding: 50px 0 100px 0;
    margin: 0;
}